@media (max-width: 1060px){
    #comment{
        .comment_wrapper{
            flex-wrap: wrap;
            .comment_card{
                // flex: 0;
                flex: 100%;
            }
        }
    } 
}
@media (max-width: 768px){
    .main_container{
        padding: 0 15px;
    }
    footer{
        .footer_wrapper{
            gap: 0;
        }
        .footer_block{
            padding-top: 20px;
            .square{
                margin-bottom: 30px;
            }
            .apple{
                margin-top: 0;
            }
        }
    }
    .dark_title{
        font-size: 32px;
        span{
            font-size: 32px;
        }
    }
    #center{
        margin-top: 64px;
        .center_wrapper{
            .center_card{
                .center_btn{
                    width: 150px;
                    height: 45px;
                }
            }
        } 
    }
    #registration{
        overflow-x: hidden;
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(23, 24, 12, 0.9);
            z-index: 5;
        }
        .registration_img{
            background-color: rgba(23, 24, 12, 0.4);
            left: 0;
        }
        .registration_text{
            .form{
                flex-direction: column;
                .phone_input{
                    width: 60%;
                }
                .data_input{
                    width: 60%;
                }
                .form_btn{
                    width: 60%;
                }
            }
            .form_bottom{
                margin-left: 0;
            }
        }
    }  
}
@media (max-width: 576px){
    .dark_title{
        font-size: 25px;
        span{
            font-size: 25px;
        }
    }
    footer{
        .footer_wrapper{
            .footer_block_title{
                font-size: 20px;
            }
        }
    }
    #comment{
        .comment_wrapper{
            .comment_card{
                p{
                    font-size: 16px;
                }
            }
        } 
        .comment_full{
            .comment_full_btn{
                padding: 20px;
            }
        }
    }
}