@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Steppe";
  src: url("../fonts/Steppe.woff2") format("woff2"), url("../fonts/Steppe.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
* {
  margin: 0;
  padding: 0;
}

.main_container {
  max-width: 1424px;
  padding: 0px 50px;
  margin: 0 auto;
}

.dark_title {
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}
.dark_title span {
  color: #CE021C;
  font-family: "Steppe", Georgia;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}

.light_title {
  color: #FFF;
  font-family: "Steppe", Georgia;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.74px;
  text-transform: uppercase;
}
.light_title span {
  color: #CE021C;
  font-family: "Steppe", Georgia;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.74px;
  text-transform: uppercase;
}

.application_img {
  position: absolute;
  left: 41%;
  z-index: 3;
  top: 4%;
}

#applications {
  margin-top: 168px;
  padding-bottom: 40px;
  margin-bottom: 166px;
  overflow-y: hidden;
  position: relative;
}
#applications .application_bg {
  background: #262626;
  position: absolute;
  height: 100%;
  width: 65%;
  z-index: -1;
}
#applications .application_wrapper {
  display: flex;
  height: 100%;
}
#applications .application_left {
  position: relative;
  padding-top: 136px;
  flex: 2;
}
#applications .application_left .application_imgs {
  display: none;
}
#applications .application_left .application_title {
  max-width: 505px;
  margin-bottom: 64px;
}
#applications .application_left .application_btns {
  display: flex;
  align-items: center;
}
#applications .application_left .application_btns .apple_btn {
  padding: 32px 20px;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
#applications .application_left .application_btns .apple_btn svg {
  transform: translateY(-3px);
  margin-left: 10px;
}
#applications .application_left .application_btns .playmarket_btn {
  padding: 32px 20px;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
#applications .application_left .application_btns .playmarket_btn svg {
  margin-left: 10px;
}
#applications .application_right {
  position: relative;
  height: 100%;
  flex: 1;
}
#applications .application_right h3 {
  max-width: 235px;
  color: #FFF;
  font-family: "Steppe", Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%; /* 24.2px */
  letter-spacing: -0.66px;
  text-transform: uppercase;
  margin-top: 34px;
}
#applications .card_red {
  padding-left: 123px;
  width: 420px;
  height: 100%;
  background: #CE021C;
  padding-top: 42px;
  padding-bottom: 32px;
}
#applications .card_grey {
  padding-left: 123px;
  width: 420px;
  position: absolute;
  height: 100%;
  background: #313131;
  padding-top: 42px;
  padding-bottom: 32px;
}

#comment .comment_wrapper {
  margin-top: 43px;
  display: flex;
  gap: 20px;
}
#comment .comment_wrapper .comment_card {
  flex: 1;
}
#comment .comment_wrapper .comment_card .card_img {
  position: relative;
}
#comment .comment_wrapper .comment_card .card_img img {
  width: 100%;
}
#comment .comment_wrapper .comment_card .card_img .card_icon {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
#comment .comment_wrapper .comment_card .card_img .card_icon .card_icon_back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background: #CE021C;
}
#comment .comment_wrapper .comment_card .card_img .card_icon .card_icon_next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-color: #fff;
}
#comment .comment_wrapper .comment_card .card_content {
  height: 320px;
  padding-right: 40px;
  position: relative;
}
#comment .comment_wrapper .comment_card .card_bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  right: 0;
  width: calc(100% - 42px);
  height: 100%;
  background: #F6F6F6;
}
#comment .comment_wrapper .comment_card .card_title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#comment .comment_wrapper .comment_card .card_title .card_title_text {
  padding-top: 32px;
}
#comment .comment_wrapper .comment_card .card_title .card_title_text h6 {
  color: #B4B4B4;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  margin-bottom: 5px;
}
#comment .comment_wrapper .comment_card .card_title .card_title_text h2 {
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
#comment .comment_wrapper .comment_card p {
  height: 152px;
  overflow: hidden;
  color: #262626;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: "Onest", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  margin-bottom: 27px;
}
#comment .comment_wrapper .comment_card .card_btn {
  padding-bottom: 26px;
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
#comment .comment_full {
  margin-top: 50px;
}
#comment .comment_full .comment_full_btn {
  padding: 31px 24px 31px 34px;
  display: flex;
  justify-content: space-between;
  max-width: 652px;
  align-items: center;
  border: 1px solid #CE021C;
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

#registration {
  position: relative;
  margin-top: 151px;
  background: #F6F6F6;
}
#registration .registration_block {
  position: relative;
}
#registration .down_icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 45;
  top: -20px;
  width: 62px;
  height: 62px;
  z-index: 2;
  background: #262626;
}
#registration .registration_wrapper {
  padding-bottom: 69px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
#registration .registration_img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#registration .registration_text {
  position: relative;
  z-index: 2;
}
#registration .registration_text .registration_title {
  padding-top: 141px;
  margin-bottom: 64px;
  max-width: 501px;
}
#registration .registration_text .form {
  display: flex;
  gap: 10px;
  margin-bottom: 21px;
}
#registration .registration_text .form input {
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
#registration .registration_text .form .phone_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 80px;
  background-color: #fff;
}
#registration .registration_text .form .data_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 80px;
  background-color: #fff;
}
#registration .registration_text .form .form_btn {
  width: 190px;
  height: 80px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
  background: #CE021C;
}
#registration .registration_text .form_bottom {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #B7B7B7;
  font-family: "Onest", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 12px */
  letter-spacing: 0.3px;
}
#registration .registration_text .form_bottom svg {
  margin-right: 10px;
}

#center {
  margin-top: 164px;
  margin-bottom: 70px;
}
#center .center_wrapper {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#center .center_wrapper .center_card {
  flex-basis: 425;
  flex-grow: 1;
}
#center .center_wrapper .center_card .card_line {
  margin-left: 30px;
  height: 1px;
  background-color: #CE021C;
}
#center .center_wrapper .center_card .location {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#center .center_wrapper .center_card .location .location_text h3 {
  margin-top: 25px;
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
#center .center_wrapper .center_card .location .location_text p {
  color: #B7B7B7;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.16px;
  margin-bottom: 19px;
}
#center .center_wrapper .center_card .call_center {
  padding-left: 30px;
  background: #F8F8F8;
}
#center .center_wrapper .center_card .call_center .phone {
  padding-top: 22px;
  padding-bottom: 12px;
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
}
#center .center_wrapper .center_card .call_center .call_line {
  height: 1px;
  background: #D8D8D8;
}
#center .center_wrapper .center_card .call_center .email {
  margin-top: 14px;
  margin-bottom: 53px;
  color: #B7B7B7;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.16px;
}
#center .center_wrapper .center_card .center_btn {
  color: #FFF;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 172px;
  height: 66px;
  background: #CE021C;
  border: none;
  transform: translate(30px, -30px);
  transition: 0.3s linear;
  border: 1px solid transparent;
}
#center .center_wrapper .center_card .center_btn:hover {
  border: 1px solid #CE021C;
  background-color: transparent;
  color: #262626;
}

footer {
  background-color: #F6F6F6;
}
footer .footer_wrapper {
  display: flex;
  padding-bottom: 67px;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer_block {
  flex-basis: 420;
  flex-grow: 1;
  padding-top: 55px;
}
footer .footer_block .square {
  width: 10px;
  height: 10px;
  background-color: #CE021C;
  margin-bottom: 46px;
}
footer .footer_block .footer_block_title {
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%; /* 24.2px */
  letter-spacing: -0.66px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
footer .footer_block .footer_logo_company {
  border: 1px solid #CE021C;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 36px;
}
footer .footer_block .footer_logo_company svg {
  margin-left: 20px;
}
footer .footer_block .apple {
  margin-top: 46px;
  width: 164px;
  height: 80px;
  margin-bottom: 20px;
}
footer .footer_block .playmarket {
  width: 190px;
  height: 80px;
}
footer .footer_block .payment_sistem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer_block .footer_item {
  margin-bottom: 18px;
}
footer .footer_block .footer_item a {
  display: flex;
  align-items: center;
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.16px;
}
footer .footer_block .footer_item a svg {
  margin-right: 10px;
}
footer .footer_wrapper_bottom {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding-bottom: 27px;
}
footer .footer_wrapper_bottom p {
  color: #BEBEBE;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
}

@media (max-width: 1720px) {
  .application_img {
    width: 450px;
    left: 39%;
  }
}
@media (max-width: 1500px) {
  .application_img {
    width: 450px;
    left: auto;
    right: 5%;
    top: 10%;
  }
  #applications .application_bg {
    width: 100%;
  }
  #applications .application_wrapper {
    flex-direction: column;
  }
  #applications .application_wrapper .application_left {
    margin-bottom: 20px;
  }
  #applications .application_wrapper .application_right {
    display: flex;
  }
  #applications .card_grey {
    position: static;
    width: 100%;
  }
  #applications .card_red {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .application_img {
    display: none;
  }
  #applications .application_wrapper .application_left {
    display: flex;
  }
  #applications .application_wrapper .application_left .application_imgs {
    display: block;
  }
  #applications .application_wrapper .application_left .application_imgs img {
    width: 100%;
  }
  .application_imgs {
    display: block;
  }
}
@media (max-width: 1060px) {
  #comment .comment_wrapper {
    flex-wrap: wrap;
  }
  #comment .comment_wrapper .comment_card {
    flex: 100%;
  }
}
@media (max-width: 993px) {
  .light_title {
    font-size: 48px;
  }
  .light_title span {
    font-size: 48px;
  }
  #applications {
    margin-bottom: 50px;
  }
  #applications .card_grey {
    width: 94%;
    padding: 20px;
    padding-left: 5%;
  }
  #applications .card_grey svg {
    width: 40px;
  }
  #applications .card_red {
    width: 94%;
    padding: 20px;
    padding-left: 5%;
  }
  #applications .card_red svg {
    width: 40px;
  }
  #applications .application_left {
    padding-top: 80px;
  }
  #applications .application_left .application_btns .playmarket_btn {
    padding: 20px;
  }
  #applications .application_left .application_btns .apple_btn {
    padding: 20px;
  }
  #applications .application_right {
    flex-direction: column;
  }
  #applications .application_right h3 {
    margin-top: 20px;
    max-width: 250px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .main_container {
    padding: 0 15px;
  }
  footer .footer_wrapper {
    gap: 0;
  }
  footer .footer_block {
    padding-top: 40px;
  }
  footer .footer_block .square {
    margin-bottom: 30px;
  }
  footer .footer_block .apple {
    margin-top: 0;
  }
  .dark_title {
    font-size: 32px;
  }
  .dark_title span {
    font-size: 32px;
  }
  #center {
    margin-top: 64px;
  }
  #center .center_wrapper .center_card .center_btn {
    width: 150px;
    height: 45px;
  }
  #registration {
    margin-top: 51px;
  }
  #registration .registration_img {
    background-color: rgba(23, 24, 12, 0.4);
    left: 0;
  }
  #registration .registration_wrapper::before {
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 21, 24, 0.6);
  }
  #registration .registration_text .registration_title {
    text-align: center;
    margin: 0 auto;
  }
  #registration .registration_text .form {
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
  }
  #registration .registration_text .form .phone_input {
    width: 60%;
  }
  #registration .registration_text .form .data_input {
    width: 60%;
  }
  #registration .registration_text .form .form_btn {
    width: 60%;
  }
  #registration .registration_text .form_bottom {
    margin-left: 0;
  }
  #applications .application_left .application_title {
    font-size: 32px;
  }
  #applications .application_left .application_title span {
    font-size: 32px;
  }
  #applications .application_left .application_btns .playmarket_btn {
    font-size: 9px;
    padding: 12px;
  }
  #applications .application_left .application_btns .apple_btn {
    font-size: 9px;
    padding: 12px;
  }
  #applications .application_right h3 {
    font-size: 16px;
  }
  #applications .card_grey {
    padding-left: 2%;
  }
  #applications .card_red {
    padding-left: 2%;
  }
}
@media (max-width: 576px) {
  .dark_title {
    font-size: 25px;
  }
  .dark_title span {
    font-size: 25px;
  }
  footer .footer_wrapper .footer_block_title {
    font-size: 20px;
  }
  #comment .comment_wrapper .comment_card p {
    font-size: 16px;
  }
  #comment .comment_full .comment_full_btn {
    padding: 20px;
  }
  #registration .registration_text .form {
    flex-direction: column;
  }
  #registration .registration_text .form .phone_input {
    width: 100%;
  }
  #registration .registration_text .form .phone_input input {
    width: 80%;
  }
  #registration .registration_text .form .data_input {
    width: 100%;
  }
  #registration .registration_text .form .data_input input {
    width: 80%;
  }
  #registration .registration_text .form .form_btn {
    width: 100%;
  }
  #registration .registration_text .form_bottom {
    margin-left: 0;
  }
  #applications .application_left {
    padding-top: 40px;
  }
  #applications .application_left .application_title {
    font-size: 25px;
  }
  #applications .application_left .application_title span {
    font-size: 25px;
  }
}
@media (max-width: 490px) {
  #applications .application_wrapper .application_left {
    flex-direction: column;
    padding-top: 40px;
  }
  #applications .application_wrapper .application_left .application_imgs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  #applications .application_wrapper .application_left .application_imgs .application_img_media {
    width: 60%;
  }
  #applications .application_wrapper .application_left .application_title {
    margin-bottom: 20px;
    font-size: 25px;
  }
  #applications .application_wrapper .application_left .application_title span {
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */