@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Steppe';
    src: url('../fonts/Steppe.woff2') format('woff2'),
        url('../fonts/Steppe.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

$Onest: "Onest", sans-serif;
$Steppe: "Steppe", Georgia;

* {
    margin: 0;
    padding: 0;
}

.main_container {
    max-width: 1424px;
    padding: 0px 50px;
    margin: 0 auto;
}

.dark_title {
    color: #262626;
    font-family: $Steppe;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: -1.44px;
    text-transform: uppercase;

    span {
        color: #CE021C;
        font-family: $Steppe;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 110%;
        letter-spacing: -1.44px;
        text-transform: uppercase;
    }
}

.light_title {
    color: #FFF;
    font-family: $Steppe;
    font-size: 58px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: -1.74px;
    text-transform: uppercase;

    span {
        color: #CE021C;
        font-family: $Steppe;
        font-size: 58px;
        font-style: normal;
        font-weight: 900;
        line-height: 110%;
        letter-spacing: -1.74px;
        text-transform: uppercase;
    }
}
header {}

#home {}

#service {}

#service2 {}

#applications {
    display: none;
    margin-top: 168px;
    padding-bottom: 40px;  
    margin-bottom: 166px;
    overflow-y: hidden;
    position: relative;
    .application_bg{
        background: #262626;
        position: absolute;
        height: 100%;
        width: 60%;
        z-index: -1;
    }
    .application_wrapper{
        display: flex;
        height: 100%;
    }
    .application_left{
        position: relative;
        padding-top: 136px;   
        flex: 2;
        .application_img{
            z-index: 3;
            position: absolute;
            right: 0;
            top: 0;
        }
        .application_title{
            max-width: 505px;
            margin-bottom: 64px;
        }
        .application_btns{
            display: flex;
            align-items: center;
            .apple_btn{
                padding: 32px 20px;
                border: 1px solid #FFF;
                display: flex;
                align-items: center;
                color: #FFF;
                text-align: center;
                font-family: $Onest;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 16.8px */
                letter-spacing: 0.56px;
                text-transform: uppercase;
                svg{
                    transform: translateY(-3px);
                    margin-left: 10px;
                }
            }
            .playmarket_btn{
                padding: 32px 20px;
                border: 1px solid #FFF;
                display: flex;
                align-items: center;
                color: #FFF;
                text-align: center;
                font-family: $Onest;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 16.8px */
                letter-spacing: 0.56px;
                text-transform: uppercase;
                svg{
                    margin-left: 10px;
                }
            }
        }
    }
    .application_right{
        position: relative;
        height: 100%;
        flex: 1;
        h3{
            max-width: 235px;
            color: #FFF;
            font-family: $Steppe;
            font-size: 22px;
            font-style: normal;
            font-weight: 900;
            line-height: 110%; /* 24.2px */
            letter-spacing: -0.66px;
            text-transform: uppercase;
            margin-top: 34px;
        }
    }
    .card_red{
        padding-left: 123px;
        width: 420px;
        height: 100%;
        background: #CE021C;
        padding-top: 42px;
        padding-bottom: 32px;
    }
    .card_grey{
        padding-left: 123px;
        width: 420px;
        position: absolute;
        height: 100%;
        background: #313131;
        padding-top: 42px;
        padding-bottom: 32px;
    }
}

#comment {
    .comment_wrapper{
        margin-top: 43px;
        display: flex;
        gap: 20px;
        .comment_card{
            flex: 1;
           .card_img{
            position: relative;
                img{
                    width: 100%;
                }
                .card_icon{
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    .card_icon_back{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 42px;
                        height: 42px;
                        cursor: pointer;
                        background: #CE021C;
                    }
                    .card_icon_next{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 42px;
                        height: 42px;
                        cursor: pointer;
                        background-color: #fff;
                    }
                }
           } 
           .card_content{
            height: 320px;
            padding-right: 40px;
            position: relative;
           }
           .card_bg{
            z-index: -1;
            position: absolute;
            width: 100%;
            right: 0;
            width: calc(100% - 42px);
            height: 100%; 
            background: #F6F6F6;
           }
           .card_title{
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
                .card_title_text{
                    padding-top: 32px;
                    h6{
                        color: #B4B4B4;
                        font-family: $Onest;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 16.8px */
                        margin-bottom: 5px;
                    }
                    h2{
                        color: #262626;
                        font-family: $Steppe;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 110%; /* 19.8px */
                        letter-spacing: -0.54px;
                        text-transform: uppercase;
                        margin-bottom: 28px;
                    }
                }
           }
           p{
            height: 152px;
            overflow: hidden;
            color: #262626;
            text-overflow: ellipsis;
            whitespace: nowrap;
            font-family: $Onest;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 25.2px */
            margin-bottom: 27px;
           }
           .card_btn{
            padding-bottom: 26px;
            color: #262626;
            font-family: $Onest;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 14.4px */
            letter-spacing: 0.48px;
            text-transform: uppercase;
           }
        }
    }
    .comment_full{
        margin-top: 50px;
        .comment_full_btn{
            padding: 31px 24px 31px 34px;
            display: flex;
            justify-content: space-between;
            max-width: 652px;
            align-items: center;
            border: 1px solid #CE021C;
            color: #262626;
            font-family: $Onest;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 16.8px */
            letter-spacing: 0.56px;
            text-transform: uppercase;
        }
    }
}

#registration {
    overflow-x: hidden;
    margin-top: 151px;
    padding-bottom: 69px;
    background: #F6F6F6;
    position: relative;
    .registration_img{
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        // width: 100%;
        object-fit: cover;
    }
    .registration_text{
        position: relative;
        z-index: 2;
        .down_icon{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: -20px;
            width: 62px;
            height: 62px;
            background: #262626;
        }
        .registration_title{
            padding-top: 141px;
            margin-bottom: 64px;
            max-width: 501px;
        }
        .form{
            display: flex;
            gap: 10px;
            margin-bottom: 21px;
            input{
                color: #262626;
                font-family: $Onest;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 16.8px */
                letter-spacing: 0.56px;
                text-transform: uppercase;
            }
            .phone_input{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 282px;
                height: 80px;
                background-color: #fff;
            }
            .data_input{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 282px;
                height: 80px;
                background-color: #fff;
            }
            .form_btn{
                width: 190px;
                height: 80px;
                border: none;
                color: #FFF;
                text-align: center;
                font-family: $Onest;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 16.8px */
                letter-spacing: 0.56px;
                text-transform: uppercase;
                background: #CE021C;
            }
        }
        .form_bottom{
            display: flex;
            align-items: center;
            margin-left: 30px;
            color: #B7B7B7;
            font-family: $Onest;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 12px */
            letter-spacing: 0.3px;
            svg{
                margin-right: 10px;
            }
        }
    }
}

#center {
    margin-top: 164px;
    margin-bottom: 70px;
    .center_wrapper{
        margin-top: 42px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .center_card{
            flex-basis: 425;
            flex-grow: 1;
            .card_line{
                margin-left: 30px;
                height: 1px;
                background-color: #CE021C;
            }
            .location{
                padding-left: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .location_text{
                    h3{
                        margin-top: 25px;
                        color: #262626;
                        font-family: $Steppe;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 110%; /* 19.8px */
                        letter-spacing: -0.54px;
                        text-transform: uppercase;
                        margin-bottom: 7px;
                    }
                    p{
                        color: #B7B7B7;
                        font-family: $Onest;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 19.2px */
                        letter-spacing: 0.16px;
                        margin-bottom: 19px;
                    }
                }
            }
            .call_center{
                padding-left: 30px;
                background: #F8F8F8;
                .phone{
                    padding-top: 22px;
                    padding-bottom: 12px;
                    color: #262626;
                    font-family: $Onest;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 21.6px */
                }
                .call_line{
                    height: 1px;
                    background: #D8D8D8;
                }
                .email{
                    margin-top: 14px;
                    margin-bottom: 53px;
                    color: #B7B7B7;
                    font-family: $Onest;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 19.2px */
                    letter-spacing: 0.16px;
                }
            }
            .center_btn{
                color: #FFF;
                text-align: center;
                font-family: $Onest;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 14.4px */
                letter-spacing: 0.48px;
                text-transform: uppercase;
                width: 172px;
                height: 66px;
                background: #CE021C;
                border: none;
                transform: translate(30px, -30px);
                transition: .3s linear;
                border: 1px solid transparent;
                &:hover{
                    border: 1px solid #CE021C;
                    background-color: transparent;
                    color: #262626;
                }
            }
        }
    }
}

footer {
    background-color: 
    #F6F6F6;
    .footer_wrapper{
        display: flex;
        padding-bottom: 67px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer_block{
        flex-basis: 420;
        flex-grow: 1;
        padding-top: 55px;
        .square{
            width: 10px;
            height: 10px;
            background-color: #CE021C;
            margin-bottom: 46px;
        }
        .footer_block_title{
            color: #262626;
            font-family: $Steppe;
            font-size: 22px;
            font-style: normal;
            font-weight: 900;
            line-height: 110%; /* 24.2px */
            letter-spacing: -0.66px;
            text-transform: uppercase;
            margin-bottom: 33px;
        }
        .footer_logo_company{
            border: 1px solid #CE021C;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                margin-left: 20px;
            }
            color: #262626;
            text-align: center;
            font-family: $Onest;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 16.8px */
            letter-spacing: 0.56px;
            text-transform: uppercase;
            margin-bottom: 36px;
        }
        .apple{
            margin-top: 46px;
            width: 164px;
            height: 80px;
            margin-bottom: 20px;
        }
        .playmarket{
            width: 190px;
            height: 80px;
        }
        .payment_sistem{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .footer_item{
            margin-bottom: 18px;
            a{
                display: flex;
                align-items: center;
                color: #262626;
                font-family: $Onest;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */
                letter-spacing: 0.16px;
                svg{
                    margin-right: 10px;
                }
            }
        }
    }
    .footer_wrapper_bottom{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        padding-bottom: 27px;
        p{
            color: #BEBEBE;
            font-family: $Onest;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 14.4px */
        }
    }
}


@import "_responsive";