@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Steppe";
  src: url("../fonts/Steppe.woff2") format("woff2"), url("../fonts/Steppe.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
* {
  margin: 0;
  padding: 0;
}

.main_container {
  max-width: 1424px;
  padding: 0px 50px;
  margin: 0 auto;
}

.dark_title {
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}
.dark_title span {
  color: #CE021C;
  font-family: "Steppe", Georgia;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.44px;
  text-transform: uppercase;
}

.light_title {
  color: #FFF;
  font-family: "Steppe", Georgia;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.74px;
  text-transform: uppercase;
}
.light_title span {
  color: #CE021C;
  font-family: "Steppe", Georgia;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.74px;
  text-transform: uppercase;
}

.light_button {
  background: white;
  color: #000;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.red_button {
  background: #CE021C;
  color: #FFF;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
header .header_top {
  display: flex;
  align-items: center;
  gap: 43px;
  margin-top: 29px;
  margin-bottom: 29px;
}
header .header_top .left {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .header_top .left span {
  color: #CE021C;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  width: 239px;
}
header .header_top ul {
  display: flex;
  align-items: center;
  gap: 29px;
}
header .header_top ul a {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  opacity: 0.6;
}
header .header_bottom {
  position: relative;
}
header .header_bottom .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_bottom .main_container .logo .bg_logo {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  height: 100%;
}
header .header_bottom .main_container .logo svg {
  position: relative;
}
header .header_bottom .main_container .menues {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header_bottom .main_container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
}
header .header_bottom .main_container ul a {
  color: #FFF;
  font-family: "Onest", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
header .header_bottom .main_container .buttons {
  display: flex;
  align-items: center;
}
header .header_bottom .main_container .buttons .light_button {
  padding: 26px 0;
  width: 148px;
}
header .header_bottom .main_container .buttons .red_button {
  padding: 26px 0;
  width: 148px;
}

#home {
  position: relative;
}
#home .home_slider .swiper-slide {
  background: url("../images/home_bg.png") no-repeat;
  height: 750px;
}
#home .home_slider .swiper-slide .subtitle {
  margin-top: 261px;
  color: #FFF;
  font-family: "Onest", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 43px;
}
#home .home_slider .swiper-slide .light_title {
  max-width: 1039px;
  margin-bottom: 54px;
}
#home .home_slider .swiper-slide .red_button {
  padding: 32px 0;
  width: 244px;
}
#home .home-swiper-pagination {
  position: absolute;
  width: auto;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 0;
  left: 50%;
  bottom: 195px;
  transform: translateX(-50%);
}
#home .home-swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.5;
}
#home .home-swiper-pagination .swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  border: 2px solid white;
  background: transparent;
  opacity: 1;
  position: relative;
}
#home .home-swiper-pagination .swiper-pagination-bullet-active::before {
  width: 6px;
  height: 6px;
  content: "";
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home .home-slider-buttons {
  position: absolute;
  bottom: 164px;
  z-index: 5;
}
#home .home-slider-buttons button {
  width: 80px;
  height: 80px;
  background: white;
}
#home .home-slider-buttons button svg path {
  stroke: black;
}
#home .home-slider-buttons .next_button svg {
  transform: rotateZ(180deg);
}
#home .home-slider-buttons .swiper-button-disabled {
  background: transparent;
}
#home .home-slider-buttons .swiper-button-disabled svg path {
  stroke: white;
}

#service {
  position: relative;
}
#service .complect {
  display: flex;
  align-items: flex-start;
  gap: 130px;
  padding-top: 147px;
  margin-bottom: 180px;
}
#service .complect .left_complect {
  width: 410px;
}
#service .complect .left_complect .dark_title {
  max-width: 410px;
  margin-bottom: 68px;
}
#service .complect .left_complect .buttons {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}
#service .complect .left_complect .buttons .light_button {
  width: 164px;
  padding: 32px 0;
  border: 1px solid #CE021C;
  background: #FFF;
}
#service .complect .left_complect .buttons .slider_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#service .complect .left_complect .buttons .slider_buttons button {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
}
#service .complect .left_complect .buttons .slider_buttons button svg path {
  stroke: black;
}
#service .complect .left_complect .buttons .slider_buttons .next_button {
  transform: rotateZ(180deg);
}
#service .complect .left_complect .buttons .slider_buttons .swiper-button-disabled {
  background: transparent;
}
#service .complect .complect_slider {
  width: calc(100% - 410px - 147px);
}
#service .complect .complect_slider .swiper-slide {
  position: relative;
  height: 300px;
}
#service .complect .complect_slider .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#service .complect .complect_slider .swiper-slide .clider_in {
  position: relative;
  height: 100%;
}
#service .complect .complect_slider .swiper-slide .slider_title {
  color: #FFF;
  font-family: "Steppe", Georgia;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.02px;
  text-transform: uppercase;
  padding-top: 39px;
  margin-left: 40px;
  max-width: 410px;
  margin-bottom: 19px;
}
#service .complect .complect_slider .swiper-slide .slider_title span {
  color: #CE021C;
  font-family: "Steppe", Georgia;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.02px;
  text-transform: uppercase;
}
#service .complect .complect_slider .swiper-slide .slider_link_1 {
  position: relative;
  height: 1px;
  width: calc(100% - 40px - 129px);
  left: 129px;
  background: white;
  margin-bottom: 20px;
}
#service .complect .complect_slider .swiper-slide .slider_link_1 a {
  background: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 9px 0;
  width: 156px;
  color: #000;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
#service .complect .complect_slider .swiper-slide .slider_subtitle {
  color: #FFF;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.5;
  margin-left: 40px;
  margin-right: 40px;
}
#service .complect .complect_slider .swiper-slide .buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
#service .complect .complect_slider .swiper-slide .buttons .red_button {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#service .complect .complect_slider .swiper-slide .buttons .dark_button {
  width: 160px;
  height: 80px;
  color: #FFF;
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}
#service .cards {
  display: flex;
  align-items: flex-start;
  gap: 140px;
  margin-bottom: 147px;
}
#service .cards .card_left {
  display: flex;
  width: calc(50% - 70px);
  justify-content: space-between;
  align-items: flex-start;
}
#service .cards .card_left .card_item {
  width: calc(50% - 39px);
  position: relative;
}
#service .cards .card_left .card_item .card_title {
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.66px;
  text-transform: uppercase;
  margin-bottom: 44px;
}
#service .cards .card_left .card_item .card_title span {
  color: #CE021C;
  font-family: "Steppe", Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.66px;
  text-transform: uppercase;
}
#service .cards .card_left .card_item .cad_bg {
  position: absolute;
  top: 100px;
  left: 26px;
  width: calc(100% - 26px);
  height: 44px;
  background: #f6f6f6;
  z-index: -1;
}
#service .cards .card_left .card_item .card_text {
  color: #B4B4B4;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
#service .cards .card_right {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  width: calc(50% - 70px);
}
#service .cards .card_right .card_item {
  width: calc(100% - 32px);
  position: relative;
}
#service .cards .card_right .card_item .card_title {
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.66px;
  text-transform: uppercase;
  margin-bottom: 44px;
}
#service .cards .card_right .card_item .card_title span {
  color: #CE021C;
  font-family: "Steppe", Georgia;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.66px;
  text-transform: uppercase;
}
#service .cards .card_right .card_item .cad_bg {
  position: absolute;
  top: 100px;
  left: 26px;
  width: calc(100% - 26px);
  height: 44px;
  background: white;
}
#service .cards .card_right .card_item svg {
  position: relative;
  z-index: 1;
}
#service .cards .card_right .card_item .card_text {
  padding-top: 17px;
  color: #B4B4B4;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
#service .service_wrapper {
  margin-bottom: 162px;
}
#service .service_wrapper .dark_title {
  margin-bottom: 43px;
}
#service .service_wrapper .service_cards {
  display: flex;
  align-items: flex-start;
  gap: 56px 20px;
  flex-wrap: wrap;
  margin-bottom: 56px;
}
#service .service_wrapper .service_cards .carvice_card {
  width: calc(50% - 10px);
  position: relative;
}
#service .service_wrapper .service_cards .carvice_card img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
#service .service_wrapper .service_cards .carvice_card .link {
  width: 80px;
  height: 80px;
  background: #CE021C;
  position: absolute;
  left: 0;
  top: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#service .service_wrapper .service_cards .carvice_card .card_subtitle {
  margin-left: 106px;
  margin-top: 21px;
  margin-bottom: 7px;
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
#service .service_wrapper .service_cards .carvice_card .card_title {
  margin-left: 106px;
  color: #262626;
  font-family: "Steppe", Georgia;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -1.02px;
  text-transform: uppercase;
}
#service .service_wrapper .main_link {
  width: 642px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 24px 26px 34px;
  border: 1px solid #CE021C;
  background: #FFF;
}
#service .service_wrapper .main_link span {
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
#service .service_bg {
  position: absolute;
  width: calc(50% - 10px);
  height: 100%;
  top: 0;
  right: 0;
  background: #f6f6f6;
  z-index: -1;
}

#service2 .dark_title {
  margin-bottom: 43px;
}
#service2 .tab_head {
  display: flex;
  gap: 2px;
  align-items: stretch;
  margin-bottom: 20px;
}
#service2 .tab_head a {
  padding: 26px 20px;
  background: #F6F6F6;
  color: #262626;
  text-align: center;
  font-family: Onest;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
#service2 .tab_head a.active {
  background: #262626;
  color: white;
}
#service2 .tab_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 50px;
}
#service2 .tab_content .tab_item {
  width: calc(50% - 10px);
  position: relative;
}
#service2 .tab_content .tab_item .swiper-slide {
  position: relative;
  height: 358px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
#service2 .tab_content .tab_item .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
#service2 .tab_content .tab_item .swiper-slide .subtitle {
  color: #FFF;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 110px;
  opacity: 0.5;
}
#service2 .tab_content .tab_item .swiper-slide .title {
  color: #FFF;
  font-family: "Steppe", Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.51px;
  text-transform: uppercase;
  margin-left: 30px;
  margin-right: 110px;
  margin-bottom: 23px;
}
#service2 .tab_content .tab_item .buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: flex;
  gap: 0;
}
#service2 .tab_content .tab_item .buttons button {
  background: #CE021C;
  width: 42px;
  height: 42px;
}
#service2 .tab_content .tab_item .buttons button svg path {
  stroke: white;
}
#service2 .tab_content .tab_item .buttons .swiper-button-disabled {
  background: #FFF;
}
#service2 .tab_content .tab_item .buttons .swiper-button-disabled svg path {
  stroke: black;
}
#service2 .main_link {
  width: 642px;
  padding: 26px 24px 26px 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #CE021C;
  background: #FFF;
  margin-bottom: 52px;
}
#service2 .main_link span {
  color: #262626;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */